tnt_receptor_tst/Service References/ServiceReference1/ws_tnt_receptor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="datosTransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:WsTransaccion" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsTransaccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoEmpresa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoRecaudacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPago" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencial" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Hora" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigenTransaccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pais" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Departamento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ciudad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agencia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Operador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoteDosificacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NroRentaRecibo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoCreditoFiscal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoAutorizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoControl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NitFacturar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreFacturar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="datosTransaccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosTransaccionResult" type="tns:RespTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespTransaccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="datosTransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:datosTransaccion" />
  </wsdl:message>
  <wsdl:message name="datosTransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:datosTransaccionResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_tnt_receptorSoap">
    <wsdl:operation name="datosTransaccion">
      <wsdl:input message="tns:datosTransaccionSoapIn" />
      <wsdl:output message="tns:datosTransaccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_tnt_receptorSoap" type="tns:ws_tnt_receptorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="datosTransaccion">
      <soap:operation soapAction="http://tempuri.org/datosTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_tnt_receptorSoap12" type="tns:ws_tnt_receptorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="datosTransaccion">
      <soap12:operation soapAction="http://tempuri.org/datosTransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_tnt_receptor">
    <wsdl:port name="ws_tnt_receptorSoap" binding="tns:ws_tnt_receptorSoap">
      <soap:address location="http://localhost:53019/ws_tnt_receptor.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_tnt_receptorSoap12" binding="tns:ws_tnt_receptorSoap12">
      <soap12:address location="http://localhost:53019/ws_tnt_receptor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>